<!-- footer.html -->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<footer>
    <p>&copy; 2025 Plataforma Educativa. Todos los derechos reservados.</p>
    <p>Demetrio Quispe Chavez ©</p>
    <div class="redes-sociales">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <p>Contacto: info@plataformaeducativa.com</p>
</footer>
